<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pay My Buddy</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" type="text/css">


</head>

<body>
<main>
    <div class="modal modal-signin position-static d-block py-5" tabindex="-1" role="dialog" id="modalSigning">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-5 shadow">
                <div class="modal-header p-5 pb-0 border-bottom-0">
                    <button class="btn btn-logo btn-success btn-lg mx-auto" type="button">Pay My Buddy</button>
                </div>

                <form class="" th:action="@{/log}" method="post">
                    <div class="modal-body p-12 pt-3 pb-2">
                        <div class="form-floating mb-3">
                            <label for="floatingInput"></label>
                            <input type="email" name="username"
                                   class="form-control rounded-4 mt-3"
                                            id="floatingInput" placeholder="Email">
                        </div>
                        <div class="form-floating mb-4">
                            <label for="floatingPassword"></label>
                            <input type="password" name="password"
                                   class="form-control rounded-4 mt-3"
                                            id="floatingPassword" placeholder="Password">
                        </div>
                        <div class="row justify-content-center">
                            <div class="center ">
                                <input type="checkbox" class="form-check-input align-middle" id="exampleCheck1">
                                <label class="form-check-label fs-4 align-middle p-8" for="exampleCheck1">Remember
                                    me</label>
                            </div>
                        </div>

                        <div class="modal-header p-5 pb-4 border-bottom-0">
                            <button class="btn btn-primary btn-lg mx-auto px-5 m-2" type="submit">Login</button>
                        </div>
                    </div>
                </form>

                <a th:href="@{/signup}">
                    <div class="modal-header pb+8 mb-5 border-bottom-0">
                        <button class="btn btn-dark mx-auto px-5">Create account</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>
</body>