<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>

<body>
<div class="container border border-secondary rounded">
    <header>
        <!-- Navigation menu -->
        <div>
            <nav class="navbar navbar-expand border-bottom border-secondary">
                <button class="btn btn-success center-block" disabled>Pay
                    my buddy
                </button>
                <div>
                    <ul class="navbar-nav-right">
                        <li class="navbar-brand "><a class="nav-link active text-dark" th:href="@{/home}">Home</a></li>
                        <li class="navbar-brand"><a class="nav-link text-dark" th:href="@{/transfert}">Transfer</a></li>
                        <li class="navbar-brand"><a class="nav-link text-primary" th:href="@{/profile}">Profile</a></li>
                        <li class="navbar-brand"><a class="nav-link text-dark" th:href="@{/contact}">Contact</a></li>
                        <li class="navbar-brand"><a sec:authorize="isAuthenticated()" methods="post"
                                                    type="submit" class="nav-link text-dark"
                                                    th:href="@{/disconnect}">Log Off</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- End Navigation menu -->

        <nav class="navbar navbar-expand bg-light mb-3 mt-0.5">
            <ul class="navbar-nav">
                <li class="navbar-brand ">
                    <a class="nav-link text-dark " th:href="@{/home}">Home</a>
                </li>
                <li class="navbar-brand ">
                    <a class="nav-link text-dark">/</a>
                </li>
                <li class="navbar-brand">
                    <a class="nav-link text-primary" th:href="@{/profile}">Profile</a>
                </li>
            </ul>
        </nav>
    </header>

    <h2 class="text-center mb-5">Your profile</h2>
    <div class="d-flex flex-column justify-content-center ">
        <small class="form-text mb-2 text-center ">FirstName</small>
        <div class="d-flex justify-content-center ">
            <div class="col-4 border border-secondary rounded bg-light ">
                <h4 sec:text="${user.firstName}" class="text-center "></h4>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column justify-content-center ">
        <small class="form-text mb-2 text-center ">LastName</small>
        <div class="d-flex justify-content-center ">
            <div class="col-4 border border-secondary rounded bg-light ">
                <h4 sec:text="${user.lastName}" class="text-center "></h4>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column justify-content-center ">
        <small class="form-text mb-2 text-center ">Email</small>
        <div class="d-flex justify-content-center ">
            <div class="col-4 border border-secondary rounded bg-light ">
                <h5 sec:text="${user.email}" class="text-center "></h5>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a class="mb-5 btn btn-danger  col-4  "><h6>Change password</h6></a>
    </div>


    <!--------------------Bouton pour ajouter une banque---------------------------------->
    <div class="text-center mb-4">
        <button type="button" style="..." class="btn btn-primary" data-toggle="modal"
                data-target="#addBank">
            Add Bank
        </button>
    </div>
    <!--    &lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;Bouton supprimer-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
    <!--    <div class="text-center mb-4">-->
    <!--        <button type="button" style="..." class="btn btn-danger" data-toggle="modal"-->
    <!--                data-target="#deleteBank">-->
    <!--            Delete Bank-->
    <!--        </button>-->
    <!--    </div>-->
    <!--    <div class="modal-dialog">-->

    <!--        &lt;!&ndash; Modal &ndash;&gt;-->
    <!--        <div class="modal fade justify-content-center" id="supBank" tabindex="0" aria-labelledby="supBankLabel"-->
    <!--             aria-hidden="true">-->
    <!--            <div class="modal-dialog modal-dialog-centered">-->
    <!--                <div class="modal-content">-->
    <!--                    <div class="modal-header">-->
    <!--                        <h5 class="modal-title" id="supBankLabel">Delete your bank</h5>-->
    <!--                    </div>-->
    <!--                    <div class="modal-body">-->
    <!--                        <form th:action="@{/profile}" th:object="${bank}" method="post">-->
    <!--                            <div class="modal-body p-12 pt-0 pb-3">-->
    <!--                                <label class="floatingInput" for="bankId"> Friend email </label>-->
    <!--                                <input title="Select your bank"-->
    <!--                                       th:field="*{bankName}"-->
    <!--                                       id="bankId"-->
    <!--                                       class="form-control"-->
    <!--                                       placeholder="BankName" required autofocus="autofocus"/>-->
    <!--                                <br>-->
    <!--                                <button type="submit" class="btn btn-primary">Add</button>-->
    <!--                            </div>-->
    <!--                        </form>-->
    <!--                    </div>-->

    <!--        </div>-->
    <!--    </div>-->


    <!--    &lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;Fin bouton supprimer-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
    <!-- Modal -->
    <div class="modal fade justify-content-center" id="addBank" tabindex="0" aria-labelledby="addBankLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addBankLabel">Add your bank informations</h5>
                </div>

                <form th:action="@{/profile}" th:object="${bank}" method="post">
                    <div class="modal-body p-12 pt-0 pb-3">
                        <label class="floatingInput" for="Bank Name"> Bank Name </label>
                        <input title="Enter the name of your bank "
                               th:field="*{bankName}"
                               id="Bank Name"
                               class="form-control"
                               placeholder="Bank Name" required autofocus="autofocus"/>
                    </div>

                    <div class="modal-body p-12 pt-0 pb-3">
                        <label class="floatingInput" for="IBAN"> IBAN </label>
                        <input title="IBAN" id="IBAN"
                               th:field="*{iban}"
                               class="form-control"
                               placeholder="IBAN" required autofocus="autofocus"/>
                    </div>

                    <div class="modal-body p-12 pt-0 pb-3">
                        <label class="floatingInput" for="bic"> BIC </label>
                        <input title="BIC" id="BIC"
                               th:field="*{bic}"
                               class="form-control"
                               placeholder=" BIC" required autofocus="autofocus"/>
                    </div>
                    <div class="modal-body">

                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                    <div th:if="${param.error}" class="alert alert-danger alert-dismissible fade show" role="alert">
                        No sign '-' ',' '£' '&' etc... are allowed
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- succès ajout de la banque -->
    <div th:if="${param.success}" class="alert alert-success alert-dismissible footer show" role="alert">
        bank successfully saved
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Bank name</th>
            <th scope="col">IBAN</th>
            <th scope="col">BIC</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="profile : ${bank}">
            <td th:text="${bank.getBankName()}"></td>
            <td th:text="${bank.getIban()}"></td>
            <td th:text="${bank.getBic()}"></td>
        </tr>
        </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <!-----------------------------------Fin bouton-------------------------------------------------->
</div>
</body>
</html>